  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{{ path('home_index')}}" class="logo d-flex align-items-center me-auto">
        
        <h1 class="sitename">Brainsense</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{ path("app_login")}}"  >Se connecter</a></li>
          <li><a href="{{ path("app_register")}}">S'inscrire</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
</header>