{% extends 'dashboard/base.html.twig' %}

{% block body %}

 {# Affichage des messages flash #}
 {% for label, messages in app.flashes %}
 <div class="alert alert-{{ label }}">
     {% for message in messages %}
         <p>{{ message }}</p>
     {% endfor %}
 </div>
{% endfor %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Ajouter un contact</h4>
                </div>
                <div class="card-body">
                    <form method='post' action = "{{path('add_contact')}}">
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom du contact</label>
                            <input type="text" class="form-control" id="nom" name="nom" required>
                        </div>
                        <div class="mb-3">
                            <label for="numero" class="form-label">Numero</label>
                            <input type="text" class="form-control" id="numero" name="numero" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
