{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Envoyer un Message</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="expediteur" class="form-label">Nom Expéditeur</label>
                            <input type="text" class="form-control" id="expediteur" name="expediteur" required>
                        </div>
                        <div class="mb-3">
                            <label for="destinataire" class="form-label">Numero du Destinataire</label>
                            <input type="text" class="form-control" id="destinataire" name="destinataire" required>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Contenu du Message</label>
                            <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
